# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# compiled
src/styles/css

# testing
acceptanceTests/screenShots

# production
/build

# misc
.DS_Store
